.netflix{color: red;
font-size: 35px;
font-family: Arial, Helvetica, sans-serif;}

.contenedorpadreinicio{display:flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding-left: 4%;
padding-right: 4%;}

.contenedordosinicio{display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-around;}

body{background-color: black;}

button{border-color:red;
background-color: black;
color: white;
font-weight: bold;}

.pelisnombre{color: white;
font-size: 17px;
padding-left: 1%;
font-family: Arial, Helvetica, sans-serif;}

.contenedortresinicio{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;}

.contenedorcuatroinicio{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;}

.contenedorquintoinicio{display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;}

.populares{color: white;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
text-decoration: unset;}

.spopulares{color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;}



.masvisto{color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;}

.pmasvaloradas{color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;}

.smasvaloradas{color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;}

.busqueda{color:black; background-color: white; border: black;}



    

