* {
    box-sizing: border-box;
} 

body {
    background-color: black;
}

h1 {
    color: red;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.contenedorpadreheader{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}

.botonesheader{
    border: 3px solid red;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
}

.hola {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.hola li{
    margin: 10px;
}

.ulgeneros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.ulgeneros li {
        margin: 30px;
}

.bgeneros {
    text-decoration: none ;
}

.generos {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.titulogeneros {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.titdetalle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
}

.containerdetalle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.h2detalle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;

}

.pdetalle {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: unset;
    font-weight: bold; 
}

.favoritos {
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.containerfavoritos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.titulofavs {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}


.ulfavs {
    color: white;
    list-style: none; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.contenedorpadregeneros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
}

.botongenero {
        border-color:red;
        border-width: 5px;
        background-color: black;
        color: white;
        font-weight: bold;
        width: 100px;
        height: 40px; 
        margin-bottom: 40px;
} 

.frase {
    text-align:justify center;
    color: red; 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 50px;
}

.footer {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedorpadrefooter{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; 
}

.contenedoresinicio { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px;
}

.pelisnombreinicio {
    color: white;
    font-size: 17px;
    padding-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: bold;

}
.popularesinicio {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: unset;
    font-weight: bold; 
}


.estrella {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
    
h2 { 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.agregarfav {
    font-weight: bold;
}

.parrafos { 
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
}

.titulos { 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.aver {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.resultadobusqueda {
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

.cpinputsearch {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

.peliculasyseries {
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size:large;   
}

.resultadoserie {
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
}

.cpgeneros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.bgeneros{
    background-color: red;
    color:white;
    font-weight: bold;
    font-size: 22px;
    size: 30px;
}

.generos {
    text-align: left;
}

.imagenes {
    width: 200px;
}

.imghombre {
    width: 200px;
}

.leyenda {
    display: none;
}

@media (max-width: 1500px) {
    img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .imagenes{        
        width: 70%;
    }
    .imghombre {
        width: 70%;
    }
    .pelisnombreinicio {
        padding-left: 4% ;
        padding-top: 1%;
    }
}

@media (max-width: 420px) {
    
    .contenedorpadreheader {
        align-items: center;
    }
    .buscador {
        padding-top: 5%;
    }
} 

